@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto:400,700");

:root {
  --roboto: "Roboto", sans-serif;
  --open-sans: "Open Sans Condensed", sans-serif;
  --blue: #136efb;
  --yellow: #fdd130;
  --light-gray: #e5e8ee;
  --gray: #b1b5bd;
  --dark-gray: #3c3c3c;
}

h1,
h2 {
  color: var(--grey);
  font-family: var(--open-sans);
}

h3,
h4,
body,
a,
ul,
li,
select,
option,
input {
  color: var(--dark-gray);
  font-family: var(--roboto);
}

.App {
  text-align: center;
}

#header {
  height: 15vh;
  width: 100vw;
  margin: 0rem;
}
#footer {
  height: 15vh;
  width: 100vw;
}

.main{
  margin: 0rem;
  height: 70vh;
  width: 100vw;
}

#splash-image {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-image: url('./Home/splash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ReactModal__Overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 90%;
  height: 40%;
  background-color: white;
  border: solid gray 1px;
  border-radius: 2px;
}

.hidden {
  display: none;
}
